{% extends "base.html" %}

{% block title %}Historial de Notificaciones{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #F4F1FF !important; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <div class="container d-flex align-items-center">
        <h2 class="h2">Historial de Notificaciones</h2>
        <div class="d-flex ml-auto">
            <a id="crearProductoBtn" href="#" class="btn btn-primary">Crear Nueva</a>
        </div>
    </div>
</nav>

<!-- Modal para crear nueva notificación -->
<div id="newPushNotification" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Crear Notificación Push</h5>
            <button type="button" id="cancelarBtn" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="pushNotificationForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="notificationTitle">Título de la Notificación</label>
                    <input type="text" class="form-control" id="notificationTitle" name="title" required>
                </div>
                <!-- Otros campos del formulario -->
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>ID</th>
                <th>Nombre del Usuario</th>
                <th>Foto del Usuario</th>
                <th>Email del Usuario</th>
                <th>Comentario del Usuario</th>
                <th>Fecha del Comentario</th>
                <th>Hora del Comentario</th>
                <th class="trash-column"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán las filas con el historial de notificaciones -->
        </tbody>
    </table>
</div>

<script>
    document.getElementById('crearProductoBtn').addEventListener('click', function (event) {
        event.preventDefault();
        var componente = document.getElementById('newPushNotification');
        componente.style.display = componente.style.display === 'none' ? 'block' : 'none';
    });

    document.getElementById('cancelarBtn').addEventListener('click', function () {
        document.getElementById('newPushNotification').style.display = 'none';
    });
</script>
{% endblock %}
